.appBar{
    background: #132330;
    width: 100%;
    height: 150px;
    .Menta_logo{
    width: 180px;
    margin-left: 30px;
    }
    .menuContainer{
   margin-left: 50px;
   cursor: pointer;
   color: white;
   text-decoration: none;
   margin-top: 10px;
   
  }
  .link{
   text-decoration: none;
   color: white;
  }
  .active{
    color: black;
   
  }
  .inactive{
    color: white;
  }
   
  }
  